@import url('https://fonts.cdnfonts.com/css/poppins');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.back-btn{
  background: black;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
}

body{
  font-family: 'Poppins', sans-serif;

}
.repo-container{
  width: 70%;
  margin: auto;
  padding: 10px;
}
.main-heading--small{
  font-size: 20px;
}
.repo-list-box{
  margin-top: 20px;
}
.profile-box{
  background-color: aqua;
  display: flex;
  box-shadow: 0 10px 10px rgb(0 0 0 / 30%);
  margin-bottom: 20px;
  border-radius: 10px;
}
.profile__img-box{
  flex: 1 1 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0;
}
.profile-img{
  width: 100%;
  border-radius: 50%;
}
.user-location{
  text-align: center;
}

.link-container{
  display: flex;
  justify-content: space-between;
}
.profile__info-box{
  flex: 1 1 70%;
  padding: 20px;
}
.profile-heading{
  font-size: 50px;
  margin: 20px 0;
}
.profile__info{
  margin: 30px 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.profile__info p{
  padding: 10px;
  border-radius: 20px;
}

.profile__info p:nth-child(1){
  background: #8C7C6D;  
}
.profile__info p:nth-child(2){
  background: #28a745;  
}
.profile__info p:nth-child(3){
  background: #1A1C40;
  color: #fff;  
}
.profile__info:last-child{
  margin-top:50px;
  background: #28a745;
  border-radius: 20px;
}
.profile-btn {
  background: #1A1C40;
  width: 100%;
  color: #F2F2F2;
  font-size: 20px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 20px;
}

/* Repos Components */
.repo-box{
  margin: 50px 0;
  padding: 20px 10px;
  background: #e0e0e0;
  box-shadow: 0 10px 10px rgb(0 0 0 / 30%);
  margin-bottom: 20px;
  border-radius: 10px;
}

.repo-title{
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.repo-link{
  font-size: 20px;
  color: #1A1C40;
  display: block;
  border-bottom: 1px solid #1A1C40;
  margin-top: 20px;
  text-transform: capitalize;
  width: 200px;
  padding: 10px 30px;
  text-align: center;
  transition: all .2s;
}

.repo-link:hover,
.repo-link:active{
  background: #1A1C40;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
  transform: translateY(-2px);
}

.repo-list-heading{
  margin-top: 5rem;
}

/* Footer  */
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(199, 191, 191);
  padding: 30px;
  color: grey;
}
.footer__heading{
  color: #000;
}

.dot{
  font-size: 30px;
  color: red;
}

.ingression-logo{
  width: 10%;
  height: 10%;
}


/* Profile Component */

.pages{
  text-align: start;
}

.pagination-btn__container{
  display: flex;
  justify-content: space-between;
}

/* Repo Route */

.repoInfo-container{
  width: 80%;
  margin: auto;

}
.repoInfo-box{
  background: #e0e0e0;
  margin: 20px 0;
  padding: 20px;
  text-align: start;
  border-radius: 10px;
}

.repo-description{
  font-size: 20px;
}

.repoInfo-box--small{
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.repoInfo-box--small *{
  padding: 5px;
  margin: 10px;
  background: #8C7C6D;
  border-radius: 20px;
}

#repo-link{
  width: 500px;
  margin-top: 3rem;
}

.error-message{
  font-size: 20px;
  background: rgba(201, 27, 27, 0.916);
  padding: 20px;
  margin: 50px auto;
  width: 50%;
  height: 30vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .logo-box {
    width: 5%;
    margin: 0 5px;
    padding: 3px;
}
  .profile__img-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:20px 0;
  }

  .profile__info{
    margin: 15px 0;
    font-size: 16px;
    gap: 3px;
  }
}

@media only screen and (max-width: 900px) {
  .profile-heading {
    font-size: 30px;
    margin: 10px 0;
  }
  .profile__img-box {
    margin: 10px 0;
  }
  .repo-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
  .repo-box {
    margin: 30px 0;
    padding: 10px 5px;
  }
}

@media only screen and (max-width: 600px) {
  .logo-box {
    width: 10%;
  }
  .profile-heading {
    font-size: 25px;
    margin-top: 10px;
  }
  .profile-box {
    flex-direction: column;
    margin-bottom: 10px;
}
  .profile__img-box {
    margin: 5px 0;
    align-items: center;
  }
  .profile-img {
    width: 70%;
  }
  .profile-btn {
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 20px;
}
  .repo-title {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
}
  .repo-box {
    margin: 20px 0;
    padding: 7px 3px;
  }
  .repo-link {
    font-size: 15px;
    margin-top: 15px;
    width: 150px;
    padding: 10px;
}
}